* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: hsl(204, 16%, 39%);
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #7c9aa6;
}

.wall {
  background-image: url(../img/wall.png);
  background-size: contain;
  background-color: #8599a6;
}

.food {
  background-image: url(../img/dust.png);
  background-size: 20px;
}

.superFood {
  background-image: url(../img/superDust.png);
}

.charrySpot {
  background-image: url(../img/charrySpot.png);
}

.player {
  background-image: url(../img/vacuum.png);
}

.ghost0 {
  background-image: url(../img/cat0.png);
}
.ghost1 {
  background-image: url(../img/cat1.png);
}
.ghost2 {
  background-image: url(../img/cat2.png);
}

.yamiGhost {
  background-image: url(../img/yamiCat.png);
}

.game-container {
  background-color: #9fb6bf;
  text-align: center;
  margin: auto;
  margin-top: 90px;
  padding: 15px;
  width: 570px;
  height: 580px;
  border-radius: 20px;
  position: relative;
}

table {
  margin: auto;
  margin-top: 40px;
}

/* .board-container {
} */

/* background-image: url(../img/wall.png);
background-color: chartreuse;
background-position: center;
background-size: contain; */

.victory {
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translate(-50%, -50%); */
  background-color: #f2c438;
  width: 210px;
  height: 210px;
  margin: -105px 0px 0px -105px;
  padding: 30px;
  color: #593202;
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
}

.victory button {
  padding: 10px 20px;
  border-radius: 5px;
  color: #593202;
  font-weight: bold;
  background-color: #d9a404;
}

.hidden {
  display: none;
}
